@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F1E8;
  --foreground: #0B1F3B;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel), serif;
}
